*{
    margin: 0;
    padding: 0;
}
.limpar{
    clear: both;
}
.corpo-conteudo{
    width: 80%;
    background-color: #172956;
    margin-left: 9%;
}
body{
    background-image: url("../imagens/background.jpg");
    
}
/*--------------------começa o header-----------------------*/
header{
    justify-content: space-evenly;
    padding: 1%;
    color: #ffffff;
}

#logo{
    width: 14%;
    height: 4%;
    
}

/*--------------------textos do header-------------------*/
.header-menu{
    float: right;
    font-size: 20px;
    margin-top: 4%;
    width: 35%;
}
.header-item{
    float: left;
    flex-direction:row;
    display:flex;
    margin-left: 10%;
    padding: 2%;
    font-weight: bold;
}
.header-item:link, :visited{
    text-decoration: none;
    color: white;
}

.header-item:hover{
    text-decoration: none;
    background-color: #0c1733;
}
/*--------------------------------- fim do header------------*/

/*-----------------------------começa o main------------------*/
main{
    border-top: 0.4px solid #0c1733;
}

/*----------imagens do começo----------------*/
  .banner-home{
    width:50%;
    height: 30%;
  }

  .frame1{
    float: right;
    width:35%;
    height: 18%;
    margin-right: 5%;
    margin-top: 3%;
  }

  /*-------------------conteúdo do meio--------------------*/

  .conteudo-meio{
    margin-top: 7%;
    display: flex;
    flex-direction: row;
  }
  .caixa-lateral-home{
    background-color: #24355F;
    
  }

  #titulo-lateral-home{
    text-align: center;
    color: white;
    text-shadow: black 0.3em 0.3em 0.6em;
    -webkit-text-stroke-width: 0.5px; 
    -webkit-text-stroke-color: rgb(2, 2, 2);
    margin-top: 5%;
  }
  #texto-lateral-home{
    text-align: justify;
    color: white;
    font-size: 120%;
    padding: 7%;
    max-height: 400px;
  }
  .imagem-lateral-home{
    width: 50%;
    height: 50%;
  }
  .limpar{
    clear: both;
}

#separador1{
    margin-left: 25%;
    margin-top: 2%;
    width: 50%;
}

.bottle-home{
    height: 40%;
    width: 25%;
    margin-left: 6%;
}
/*--------------------------------termina o main da home---------------------------*/

/*-----------------------------começa o main do products--------------------------*/

  .conteudo-topo-products{
    display: flex;
    flex-direction: row;
  }
  .banner-products{
    width:60%;
    height: 10%;
    filter: brightness(50%)
  }
  .caixa-lateral-products{
    background-color: #24355F;
    width:40%;
  }

  #texto-lateral-products{
    text-align:right;
    color: white;
    text-shadow: black 0.3em 0.3em 0.6em;
    -webkit-text-stroke-width: 0.5px; 
    -webkit-text-stroke-color: rgb(2, 2, 2);
    margin-top: 25%;
    padding: 7%;
    max-height: 400px;
  }

  /*-------------------------segunda parte-------------------*/
  .separadores{
    display: flex;
    flex-direction: row;
    margin-left: 28%;
    margin-top: 4%;
  }
  #drinks{
    margin-top: 2.5%;
    color: #ffffff;
    text-shadow: black 0.3em 0.3em 0.6em;
    -webkit-text-stroke-width: 0.5px; 
    -webkit-text-stroke-color: rgb(2, 2, 2);
  }

.product{
    height: 35%;
    width: 20%;
    margin-left: 10%;
}
.product1{
    height: 40%;
    width: 20%;
    margin-left: 10%;
}

/*--------------------------menu---------------------------*/
.conteudo3-products{
    display: flex;
    flex-direction: row;
    margin-top: 5%;
  }
  .cocktail-products{
    width:50%;
    height: 10%;
    filter: brightness(50%)
  }
  .menu-products{
    background-color: #24355F;
    width:50%;
  }

  #texto-menu-products{
    text-align:right;
    color: white;
    text-shadow: black 0.3em 0.3em 0.6em;
    -webkit-text-stroke-width: 0.5px; 
    -webkit-text-stroke-color: rgb(2, 2, 2);
    margin-top: 25%;
    padding: 7%;
    max-height: 400px;
  }
/*------------------------começa o footer------------------*/
footer{
    margin-top: 5%;
    padding: 5%;
    color: #ffffff;
}
#conteudo-footer{
    text-shadow: black 0.4em 0.4em 0.8em;
    -webkit-text-stroke-width: 0.6px; 
    -webkit-text-stroke-color: rgb(2, 2, 2);
    margin-left: 33%; 
    float: left;
    flex-direction:row;
    display:flex;
}

#texto-footer{
    font-size: 100%;
    margin-left: 29%; 
}
#company{
    height: 15%;
    width: 20%;
}